#root {
	max-width: 1280px;
}

main {
	display: grid;
	grid-template-columns: 320px 1fr;
}

aside {
	padding: 0.5em 1em;
	background: rgb(93, 93, 93);
}

.list-channels {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btnJoinChannel {
	font-size: 1.2em;
	background: none;
	border: none;
	cursor: pointer;
	width: 100%;

	&:hover {
		background: rgb(108, 108, 108);
	}
}

.btnSendMessage {
	&:disabled {
		opacity: 0.3;
	}
}
